.card-orders {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: auto;
  margin-top: 5rem;
  overflow: hidden;
  width: 90vw;
}


@media screen and ( max-width : 897px ) {

  .card-orders {
    margin-top: 8rem;
    width: 90vw;
  }

}
