.header {
  background-color: rgb(51, 51, 51);
  border-bottom: 2px solid #edb831;
  box-shadow: rgb(133, 131, 131) 0 2px 15px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
}

.header-nav {
  display: flex;
  flex-direction: row;
  height: 8vh;
}

.header-nav__items {
  align-items: center;
  display: flex;
  font-weight: 400;
  height: 100%;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
}

.header-nav__link {
  margin: 0;
  text-decoration: none;
}

.header-nav__link--products {
  border-right: 1px solid #edb831;
  color: rgb(212, 212, 212);
  flex-grow: 2;
}

.header-nav__link--orders {
  border-right: 1px solid #edb831;
  color: white;
  flex-grow: 8;
}

.header-nav__name {
  color: #edb831;
  flex-grow: 2;
  margin: 0;
  text-transform: capitalize;

}

.header-nav__buton {
  background-color: #edb831ce;
  color: rgb(8, 8, 8);
  cursor: pointer;
  flex-grow: 1;
  text-transform: capitalize;
}

.header-nav__link--products:hover, .header-nav__link--orders:hover {
  background-color: #edb831;
  color: #222;
}

.header-nav__buton:hover {
  background-color: #edb831;
  color: #222;
}
