.container-page-login {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
  justify-content: space-between;
  margin: auto;
  overflow: hidden;
}


.container-page-login__items {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  justify-content: center;
}

.container-page-login__card {
  align-items: center;
  background: rgba(245, 245, 245, 0.199);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  padding: 1.8rem;
}

.container-page-login__title {
  color: #222;
  margin: 5px 0;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.container-page-login__logo {
  width: 50%;
}


@media screen and ( max-width : 720px ) {

  .container-page-login__title {
    font-size: 10vw;
  }
}


@media only screen and ( min-width : 1200px ) {

  .container-page-login {
    width: 80%;
  }

  .container-page-login__card {
    margin-left: 10rem;
  }

  .container-page-login__title {
    font-size: 4.5rem;
  }

}
